<!DOCTPYE html>
<html>
    <head>
        <title>Collision Simulator on Kesav's Website</title>
        <style>
            #mycanvas {
                border: 5px solid #000000;
                border-radius: 20px;
                width: 90%;
                height: 90%;
            }
            #canvas {
                width: 90%;
                height: 90%;
                display: inherit;
                margin-left: auto;
                margin-right: auto;
            }
            .allelements {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1 class="allelements">
            COLLISION SIMULATOR
        </h1>
        <h2 class="allelements">
            on Kesav's Website
        </h2>
        <div id="canvas" class="allelements">
            <canvas id="mycanvas">
                <script src="./collision-simulator.js"></script>
            </canvas>
        </div>
    </body>
</html>