<!DOCTYPE html>
<html>
    <head>
        <link rel='shortcut icon' type='image/x-icon' href='./images/WebsiteLogo.png'/>
        <title>Laser Tag on Kesav's Website</title>
        <style>
            #mycanvas {
                background-color: black;
            }
            .alltext {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1 class="alltext">
            WELCOME TO LASER TAG
        </h1>
        <div class="alltext">
            <canvas id="mycanvas">
                <script src="laser-tag.js"></script>
            </canvas>
        </div>
    </body>
</html>