<!DOCTYPE html>
<head>
  <style>
    /* Prevents slides from flashing */
    #slides {
      display:none;
    }
  </style>

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="jquery.slides.min.js"></script>

  <script src="main-slideshow.js"></script>
</head>
<body>
  <div id="slides">
    <img src="./images/KesavAnand.jpg">
    <img src="./images/coolest_electric_field.png">
    <img src="./images/KesavAtlanta.jpg">
    <img src="./images/KesavGoldMedal.jpg">
    <img src="./images/KesavStukopin.jpg">
  </div>
</body>